@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,900);
body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}
.container {
     margin: 0 auto;
     max-width: 1200px;
}
.jumbotron {
     background:url(https://static.pexels.com/photos/355988/pexels-photo-355988.jpeg);
     background-size: cover;
     height: calc(100vh - 250px);
}
.promo {
     margin: 30px auto;
     background: url(https://static.pexels.com/photos/415949/pexels-photo-415949.jpeg);
     background-size: cover;
     height: calc(100vh - 500px);
}
.pink {
     background: #f4428f;
}
.violet {
     background: #8c41f4;
}
.photo {
     background: url(https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg);
     background-size: cover;
}
.plum {
     background: #d742f4;
}
.yellow {
     background: #f4f442;
}
.grey {
     background: #d8d7d6;
}

.slider .container .row {
     display: flex;
     flex-flow: row;
}
@media (min-width: 991px) {
     .slider .container {
          margin-left: 50%;
          color: #FFF;
          display: flex;
     }
     .over {
          overflow: hidden;
     }
     .over:hover {
          overflow-x: scroll;
     }
     .over::-webkit-scrollbar {
          display: none;
     }

}
@media(max-width: 990px){
     .slider .container {
          margin-left: 30%;
          color: #FFF;
          display: flex;
     }
     .over {
          overflow: hidden;
     }
     .over:hover {
          overflow-x: scroll;
     }
     .over::-webkit-scrollbar {
          display: none;
     }

}
