@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,900);
body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}
.container {
     margin: 0 auto;
     max-width: 1200px;
}
.jumbotron {
     background:url(https://static.pexels.com/photos/355988/pexels-photo-355988.jpeg);
     background-size: cover;
     height: calc(100vh - 250px);
}
.promo {
     margin: 30px auto;
     background: url(https://static.pexels.com/photos/415949/pexels-photo-415949.jpeg);
     background-size: cover;
     height: calc(100vh - 500px);
}
.pink {
     background: #f4428f;
}
.violet {
     background: #8c41f4;
}
.photo {
     background: url(https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg);
     background-size: cover;
}
.plum {
     background: #d742f4;
}
.yellow {
     background: #f4f442;
}
.grey {
     background: #d8d7d6;
}

<<<<<<< HEAD
/*.slider .container {
     margin-left: 50%;
     margin-right: calc((100vw - 1170px) / 2);
}*/
=======
.slider .container {
     margin-left: 50%;
     margin-right: calc((100vw - 1170px) / 2);
}
>>>>>>> 32862d8b75be35c591b6be28d1a916f3f5185406

.in-slider {
     overflow-x: scroll;
}

.slider .container .row {
/*     display: flex;
     flex-flow: row;*/
}
@media (min-width: 991px) {
     .slider .container {
<<<<<<< HEAD
          margin-left: 50%;
          margin-right: calc((100vw - 1214px) / 2);
=======
          /*margin-left: 50%;*/
>>>>>>> 32862d8b75be35c591b6be28d1a916f3f5185406
          color: #FFF;
          display: inline-block;
     }
     .over {
          height: 140px;
          overflow: hidden;
     }
     /*.over:hover {
          overflow-x: scroll;
     }*/
     /*.over::-webkit-scrollbar {
          display: none;
     }*/

}
@media(max-width: 990px){
     .slider .container {
<<<<<<< HEAD
          margin-left: 50%;
          margin-right: calc((100vw - 1200px) / 2);
=======
          /*margin-left: 30%;*/
>>>>>>> 32862d8b75be35c591b6be28d1a916f3f5185406
          color: #FFF;
          display: inline-block;
     }
<<<<<<< HEAD
     .over {
          height: 140px;
=======
     /*.over {
>>>>>>> 32862d8b75be35c591b6be28d1a916f3f5185406
          overflow: hidden;
     }
     /*.over:hover {
          overflow-x: scroll;
     }*/
<<<<<<< HEAD
     /*.over::-webkit-scrollbar {
=======
     .over::-webkit-scrollbar {
>>>>>>> 32862d8b75be35c591b6be28d1a916f3f5185406
          display: none;
     }*/

}
