@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,900);
body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}
.container {
     margin: 0 auto;
     max-width: 1200px;
}
.container .text {
     margin-bottom: 20px;
}
#mobile {
     position: absolute;
     bottom: 0;
     top: 15%;
     right: 20%;
}
.jumbotron {
     background:url(https://static.pexels.com/photos/368893/pexels-photo-368893.jpeg) 50% 0 repeat fixed;
     background-size: cover;
     height: 100vh;
}
.jumbotron .container span {
     position: absolute;
     left:0;
     top: 50%;
     transform: rotate(270deg);
     text-transform: uppercase;
}
.jumbotron .container {
     color: #FFF;
}

.promo {
     margin: 30px auto;
     background: url(https://static.pexels.com/photos/415949/pexels-photo-415949.jpeg) 50% 0 repeat fixed;
     background-size: cover;
     height: 100vh;
}
.pink {
     background: #F9949C;
}
.violet {
     background: #60607B;
}
.photo-1 {
     background: url(https://static.pexels.com/photos/207166/pexels-photo-207166.jpeg);
     background-size: cover;
}
.photo-2 {
     background: url(https://static.pexels.com/photos/417142/pexels-photo-417142.jpeg);
     background-size: cover;
}
.photo-3 {
     background: url(https://static.pexels.com/photos/358385/pexels-photo-358385.jpeg);
     background-size: cover;
}
.dark-pink {
     background: #BC8CBC;
}
.green {
     background: #7EC99D;
}
.arrow {
     margin-left: 15px;
}
.photo-1 .heart {
     margin-left: 90px;
     font-size: x-large;
}
.photo-2 .heart {
     margin-left: 300px;
     font-size: x-large;
}
.photo-3 .heart {
     margin-left: 90px;
     font-size: x-large;
}
/*.slider .container {
     margin-left: 50%;
     margin-right: calc((100vw - 1170px) / 2);
}*/
.in-slider {
     overflow-x: scroll;
}

@media (min-width: 991px) {
     .slider .container [class*='col-'] {
          height: 200px;
          padding: 10px 10px;
     }
     .jumbotron .container .col-md-6 {
          position: absolute;
          top: 40%;
          left: 10%;
     }
     #mobile {
          position: absolute;
          bottom: 0;
          top: 15%;
          right: 0;
     }
     .slider .container {
          margin-left: 50%;
          margin-right: calc((100vw - 1214px) / 2);
          color: #FFF;
          display: inline-block;
     }
     .photo-1 .heart {
          margin-left: 80px;
          font-size: x-large;
     }
     .photo-3 .heart {
          margin-left: 80px;
          font-size: x-large;
     }
     .over {
          height: 400px;
          overflow: hidden;
     }
}
@media(min-width: 1200px) {
     .slider .container [class*='col-'] {
          height: 200px;
          padding: 1% 2%;
     }
     #mobile {
          position: absolute;
          top: 15%;
          right: 15%;
     }
     .photo-1 .heart {
          margin-left: 40%;
     }
     .photo-2 .heart {
          margin-left: 70%;
     }
     .photo-3 .heart {
          margin-left: 40%;
     }
     .slider .container {
          margin-left: 50%;
          margin-right: calc((100vw - 1232px) / 2);
          color: #FFF;
          display: inline-block;
     }
     .over {
          height: 400px;
          overflow: hidden;
     }
}
